<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Добавить заказ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    .indent {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
    }
  </style>
</head>
<body>
<div th:replace="general :: page-header"></div>
<div class="indent">
  <div>
    <h4>Добавить заказ</h4>
    <form method="post" action="/createContract">
     <input type="hidden" name = "contract_id">
            <label for="client_id">Номер клиента</label>
            <input type="number" id="client_id" name="client_id"><br><br>

            <label for="vin">Номер автомобиля</label>
            <input type="number" id="vin" name="vin"><br><br>

            <label for="date">Дата</label>
            <input type="date" id="date" name="date"><br><br>

            <label for="test_drive">Нужен ли тест драйв</label>
            <input type="checkbox" id="test_drive" name="test_drive">
            <br><br>

            <label for="status">Статус заказа</label>
            <input type="text" id="status" name="status">
            <br><br>


      <input id="submitButton" type="submit" value="Добавить">
    </form>
  </div>
</div>
</body>
