<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Заказ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"></div>
<div class="indent">
    <div>
        <h4 th:text="${contract.getId()}"></h4>
        <form method="post" action="/updateContract">
            <input type="hidden" name = "contract_id" th:value="${contract.getId()}">
            <label for="client_id">Номер клиента</label>
            <input type="number" id="client_id" name="client_id" th:value="${contract.getClient().getId()}"><br><br>

            <label for="vin">Номер автомобиля</label>
            <input type="number" id="vin" name="vin" th:value="${contract.getCar().getId()}"><br><br>

            <label for="date">Дата и время заказа</label>
            <input type="date" id="date" name="date" th:value="${contract.getDate()}"><br><br>

            <label for="test_drive">Нужен ли тест драйв</label>
            <input type="checkbox" id="test_drive" name="test_drive" th:checked="${contract.isTest_drive()}">
            <br><br>

            <label for="status">Статус заказа</label>
            <p type="text" th:text="${contract.getStatus()}"></p>
            <select name="status" id="status">
                <option value="PROCESSING">В обработке</option>
                <option value="WAITING4DELIVERY">Ожидание поставки</option>
                <option value="IN_SALOON">Есть в салоне</option>
                <option value="IN_TEST_DRIVE">В тест-драйве</option>
                <option value="DONE">Выполнен</option>
            </select>
            <br><br>

            <input id="submitButton" type="submit" value="Сохранить">
        </form>
        <form method="post" action="/deleteContract">
            <input type="hidden" name="contract_id" th:value="${contract.getId()}">
            <button id="deleteButton" type="submit" class="deleteContractButton">Удалить</button>
        </form>
    </div>
</div>
</body>
